<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Chuck Norris App</h3>


  <ion-card *ngIf="localJoke">
    <img [src]="localJoke?.icon_url">
    <ion-card-content>
      <ion-card-title>
        {{localJoke?.value | uppercase}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <button ion-button
          *ngIf="localJoke"
          full
          round
          color="dark"
          (click)="GetJoke()">Get Random Joke</button>

</ion-content>
